.main {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing-2);
    align-content: center;
}

@media only screen and (max-width: 600px) {
    .main {
        grid-column: 1;
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}