.logo {
    font-weight: 700;
    grid-column: 1/2;
    display: flex;
    align-items: center;
}

.logo img {
    width: 32px;
    height: 32px;
}

@media only screen and (max-width: 600px) {
    .logo {
        justify-content: center;
    }
}
